@use './vars' as *;

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General */
  body {
    font-family: $font;
    min-height: 100vh;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  /* Utilities */
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }